<title>Website</title>

<%- include('./partials/navbar.ejs') %> 

<div class='from'>
    <form action>
        <label for="title">Item title</label>
        <input type="text" id='title' required>
        <label for="value">Item value</label>
        <input type="text" id='value' required>
        <button>Submit</button>
    </form>
</div>