<title>Website</title>

<%- include('./partials/navbar.ejs') %> 

<div class='from'>
    <form action='/files' method='POST'>
        <label for='name'>Item title</label>
        <input type='text' id='name' name = 'name' required>
        <label for='data'>Data</label>
        <input type='text' id='data' name = 'data' required>
        <button>Submit</button>
    </form>
</div>